@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');
@import url("https://use.typekit.net/hil5mim.css");
:root {
    /* --font-base: 'Poppins', sans-serif; */
    --font-base: 'playfair-display', serif;
    
    --background-color: #000000;
    --primary-color: #00bfe7;
    /* --secondary-color: #0c2b4b; */
    --secondary-color: #fd3700;
    --white-color: #ffffff;
    --heading-color: #111111;
    --para-color: #5C5C5C;
    --black-color: #000000;
    --heading-color-2: #323232;
    --normal-color: #1c1c1c;
    --background: #f5f5f5;
    --background-2: #f2f2f2;
    --border: #ebebeb;
    --border-1: #e1e1e1;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
